@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 184 20% 57%;
    --foreground: 0 0% 4%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;

    --primary: 145 60% 38%; /* Green */
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 4%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 65%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 4%;
    
    --success: 140 70% 40%;
    
    --warning: 40 80% 55%;
    --warning-foreground: 0 0% 0%;

    --destructive: 0 80% 55%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 145 60% 38%;
    
    --chart-1: 145 25% 50%;
    --chart-2: 145 25% 40%;
    --chart-3: 145 25% 30%;
    --chart-4: 145 25% 20%;
    --chart-5: 145 25% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;

    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    
    --success: 140 80% 55%;

    --warning: 45 93% 47%;
    --warning-foreground: 35 91% 3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 215 20.2% 65.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .spotlight {
    background: radial-gradient(300px circle at var(--x) var(--y), hsl(var(--primary) / 0.15), transparent 40%);
  }
}

    