@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;

    --primary: 145 60% 38%; /* Green */
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 4%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 65%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 4%;
    
    --success: 140 70% 40%;
    
    --warning: 40 80% 55%;
    --warning-foreground: 0 0% 0%;

    --destructive: 0 80% 55%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 145 60% 38%;
    
    --chart-1: 145 25% 50%;
    --chart-2: 145 25% 40%;
    --chart-3: 145 25% 30%;
    --chart-4: 145 25% 20%;
    --chart-5: 145 25% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 145 70% 55%;
    --primary-foreground: 145 90% 5%;

    --secondary: 0 0% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 183 25% 20%;
    --muted-foreground: 0 0% 65%;

    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 98%;
    
    --success: 140 80% 55%;

    --warning: 45 93% 47%;
    --warning-foreground: 35 91% 3%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 145 70% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
